.outer-container{
background-color: #EDEDED;
display: flex;
flex-direction: column;
padding: 1rem;
width: 20rem;
}

.logoandtitle{
    display: flex;
    flex-direction: row;
}

.logo{
    height: 3.2rem;
    width: 4rem;
    background-image: url("../../public/Logo.png");
    background-size: cover; /* Adjust as needed */
    background-position: center;
    margin-right: 1rem;
}
.title{
    position: relative;
    top: 10px;
}
.tabs{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 10px;
}

.tabs-button{
    background-color: white;
    border: 0px;
    width: 50%;
    height: 2.5rem;
    flex-shrink: 0;
    border-radius: 10px;
    color: #000;

    font-family: Poppins;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0.3rem;
}

.title{
    color: #000;
    font-family: Poppins;
    font-size: 1.75rem;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.105rem;
}
/*url body css starts here */
.url-body{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: white;
    border-radius: 2px;
    padding: 15px;
}
.height-setter{
    height: 15rem;
}
.upper-title , .description{
    margin-top: 3px;
    flex-shrink: 0;
    color: #000;
    text-align: center;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.input-link{
    margin: 5px;
    width:17rem;
    font-size: 15px;
    padding: 5px;
    transition: border-color 0.3s;
    
}

.input-link:active{
    border: 2px solid rgb(2, 2, 171);
}

.search-button button{
    background-color: #EDEDED;
    border: 0px;
    width: 40%;
    height: 2rem;
    flex-shrink: 0;
    border-radius: 10px;
    color: #000;

    font-family: Poppins;
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0.3rem;      
}

.verdict{
    display: flex;
    flex-direction: row;
    text-align: center;
    margin:1rem;
}

.verdict-text-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
}

.verdict-text{
    font-size: 2.5rem;
}
/*url body css ends here */


/*email body css starts here */
.email-body{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: white;
    border-radius: 2px;
    padding: 15px;
}

.info-table{
    text-align: left;
}

table {
    border-collapse: collapse;
    width: 100%;
  }

  tr{
    border: 1px solid #C4C4C4;
  }

  td{
    padding: 3px 5px;
  }

/*email body css ends here */
